{%  extends '::base.html.twig'%}

{% block title %}Home{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_default_index') }}">Home </a></li>
        <li><a href="{{ path('app_calculator_index') }}">Calculator </a></li>
        <li><a href="{{ path('app_rational_index') }}">Rational </a></li>
        <li><a href="{{ path('app_producto_index') }}">Producto </a></li>
    </ul>
{% endblock %}