<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Inicio</a> </li>
    </ul>
</body>
</html>