{%  extends '::base.html.twig'%}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_rational_index') }}">Home </a> </li>
        <li><a href="{{ path('app_rational_multi') }}">Multiplicacion </a> </li>
        <li><a href="{{ path('app_rational_divide') }}">Division </a> </li>
    </ul>
{% endblock %}