{%  extends '::base.html.twig'%}

{% block title %} Resultado{% endblock %}

{% block body %}
    <p> Resultado = {{ resultado }} </p>
    <br>
    <li><a href="{{ path('app_rational_index') }}">Home </a> </li>
{% endblock %}